@import url(reset.css);

main {
  max-width: 76rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside {
  margin-left: auto;
}

.gridCards {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
  margin-top: 2.4rem;
}

.card {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 0.6rem;
  position: relative;
  transition: transform 600ms ease, filter 200ms;
  transform-style: preserve-3d;
}

.card:hover {
  cursor: pointer;
}

.flip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border: solid 1.5px orange;
  border-radius: 0.6rem;
  transition: filter 300ms, opacity 300ms;
}

.front img {
  transform: rotateY(180deg);
}

.back {
  backface-visibility: hidden;
}

.flipCard {
  transform: rotateY(180deg);
}

.disabledCard img {
  filter: saturate(0.2);
  opacity: 0.5;
}
