@import url(reset.css);

.newGameForm {
  height: 100vh;
  max-width: 32rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  display: grid;
  place-content: center;
}

.newGameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.8rem;
}

.newGameHeader img {
  margin-top: 2.4rem;
  width: 100%;
  filter: drop-shadow(2px 2px 2px black);
}

.newGameForm h1 {
  font-size: clamp(2rem, 6vw, 3.2rem);
  white-space: nowrap;
  color: #e8d141;
  margin-top: 0.8rem;
  text-shadow: 2px 2px 2px black;
}

.inputName {
  font-size: clamp(1.6rem, 3.5vw, 2.4rem);
  border: solid 2px #aaa;
  border-radius: 8px;
  padding: 1.6rem;
  width: 100%;
  margin-top: 1.6rem;
}

.inputName::placeholder {
  color: #aaa;
}

.newGameButton {
  font-size: clamp(1.6rem, 3.5vw, 2.4rem);
  background: linear-gradient(200deg, #056cf2, #2793f2);
  border-radius: 8px;
  padding: 1.6rem;
  width: 100%;
  text-shadow: 1px 1px 2px #0008;
  margin-top: 1.6rem;
}

.newGameButton:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.newGameButton:disabled {
  background: #aaa;
  color: #ddd;
  cursor: not-allowed;
  filter: none;
}

.buttonRank {
  font-size: clamp(1.6rem, 3.5vw, 2.4rem);
  width: 100%;
  margin: 2.4rem auto 0;
  padding: 1.6rem;
  border-radius: 8px;
}

.buttonRank:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .newGameForm h1 {
    margin-top: 1.2rem;
  }

  .inputName,
  .newGameButton {
    padding: 2rem;
    margin-top: 2rem;
  }

  .buttonRank {
    margin: 3.2rem auto 0;
    padding: 2rem;
  }
}
