@import url(reset.css);

.newGameForm {
  height: 100vh;
  max-width: 48rem;
  margin: 0 auto;
  padding: 2.4rem;
  border-radius: 0.8rem;
  display: grid;
  place-content: center;
}

.newGameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.newGameHeader img {
  width: 100%;
  filter: drop-shadow(2px 2px 2px black);
}

.newGameForm h1 {
  font-size: 2.8rem;
  margin-top: 2.4rem;
  color: #e8d141;
  text-shadow: 2px 2px 2px black;
}

.inputName {
  border: solid 2px #aaa;
  border-radius: 8px;
  padding: 1.6rem;
  font-size: 2rem;
  width: 100%;
}

.inputName::placeholder {
  color: #aaa;
}

.newGameButton {
  background: linear-gradient(200deg, #056cf2, #2793f2);
  border-radius: 8px;
  padding: 1.6rem;
  font-size: 2rem;
  width: 100%;
  text-shadow: 1px 1px 2px #0008;
  margin-top: 1.6rem;
}

.newGameButton:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.newGameButton:disabled {
  background: #aaa;
  color: #ddd;
  cursor: not-allowed;
  filter: none;
}

.buttonRank {
  width: 100%;
  margin: 3.2rem auto 0;
  font-size: 2rem;
}

.buttonRank:hover {
  cursor: pointer;
  text-decoration: underline;
}
