@import url(reset.css);

aside .backButton {
  margin-top: 3.2rem;
}

main {
  max-width: 72rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #e8d141;
  margin-top: 3.2rem;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 3.2rem;
}

th,
td {
  border: 2px solid #aaa;
  padding: 0.8rem 1.6rem;
}

th {
  font-weight: 500;
  background: #888;
}

tr {
  transition: background 100ms;
}

tr:hover {
  background: #888;
}

td:nth-child(odd) {
  text-align: center;
}
