@import url(reset.css);

.newGameForm {
  height: 100vh;
  max-width: 42rem;
  margin: auto;
  display: grid;
  place-content: center;
}

.newGameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.newGameHeader img {
  width: 100%;
}

.newGameForm h1 {
  font-size: 2.8rem;
  margin-top: 2.4rem;
  color: #e8d141;
}

.inputName {
  border: solid 2px #444;
  border-radius: 8px;
  padding: 1.6rem;
  font-size: 2rem;
  width: 100%;
}

.newGameButton {
  /* background: linear-gradient(225deg, #d2be39, #dac748); */
  background: linear-gradient(200deg, #056cf2, #2793f2);
  border-radius: 8px;
  padding: 1.6rem;
  font-size: 2rem;
  width: 100%;
  text-shadow: 1px 1px 2px #0008;
  margin-top: 1.6rem;
}

.newGameButton:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.newGameButton:disabled {
  background: #888;
  color: #aaa;
  cursor: not-allowed;
  filter: none;
}
